<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/scripts/pages/index.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <!--<script src="/scripts/pages/animator.js"></script>-->
    <script src="/scripts/pages/navigator.js"></script>
    <link rel="stylesheet" href="/css/card.css">
    <title>Agenda</title>
</head>
<body>
    <div id="card">
        <h1> Agenda </h1>
        <!--<button onclick="btnClick()"> Yo </button>-->

        <form id="form" method="post" action="/router/testPost">
            <input type="text" name="data1" value="________">
            <input type="text" name="data2" value="________">
            <input id="btnSubmit" type="submit" value="submit">
        </form>

    </div>
</body>
</html>