<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/card.css">

    <script src="/scripts/functionality/controller.js"></script>
    <link rel="stylesheet" href="/css/animations.css">
    <title>Document</title>
</head>
<body>
    <div id="card">
        <h1> Page 2 </h1>
    </div>

    <!--Add this from controller to the page to avoid code reuse in html files-->
    <form id="form" method="post" action="/router/testPost">
        <input type="text" name="data1" value="heeeres">
        <input type="text" name="data2" value="Johnny!">
        <input id="btnSubmit" type="submit" value="submit">
    </form>
</body>
</html>