
#goUp {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15vw;
    margin-top: -17vh;
}

#goDown {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15vw;
    margin-top: -7vh;
}

#navUpCtrl, #navUpArrow, #navDownCtrl, #navDownArrow {
    height: 8vh;
    width: 5vw;
}









